*
{
  margin: 0;
  padding: 0;
}
header nav
{
  margin-top: 1%;
  text-align: right;
}
header li
{
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2%;
}

.connexion
{
  background-color: skyblue;
  padding: 7px;
  color: white;
}

p
{
  background-color: #DCDCDC;
  padding: 7px;
  display: inline-block;
}

.left
{
  margin-left: 37%;
}
section
{
  margin-top: 5%;
}

img , input , span
{
  display: block;
}
input
{
  width: 40%;
  margin-left: 30%;
  height: 40px;
}

img
{
  height: 250px;
  width: 400px;
  margin-left: 35%;
}

footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #DCDCDC;
  height: 5%;
}


.leftnav , .rightnav
{
  display: inline-block;
  margin-top: 8px;
}

footer li
{
display: inline-block;
margin-right: 10px;
}

.rightnav
{
  padding-left: 40%;
}
