
nav
{
  text-align: right;
}
li
{
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2%;
}

.connexion
{
  background-color: skyblue;
  padding: 7px;
  color: white;
}

section
{
  margin-top: 5%;
}

img , input
{
  display: block;
}
input
{
  width: 40%;
  margin-left: 30%;
  height: 40px;
}

img
{
  height: 250px;
  width: 400px;
  margin-left: 35%;
}
