*
{
  margin: 0;
  padding: 0;
}
header nav
{
  margin-top: 1%;
  text-align: right;
}
header li
{
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
  font-size: 0.8em;
}

a
{
  text-decoration: none;
  color: black;
}

a:hover /* Apparence au survol des liens */

{
   text-decoration: underline;
}

.connexion
{
  background-color: skyblue;
  padding: 7px;
  color: white;
}

.button1 , .button2
{
  background-color:#fdfcfb;
  padding: 7px;
  display: inline-block;
  width: 15%;
  margin-top: 1%;
  border: 0;
}
.button1
{
  margin-left: 35%;
}

.button1:hover , .button2:hover
{
  border: 1px groove #cbcefb;
}

.left
{
  margin-left: 37%;
  margin-right: 1%;
}
.leftli
{
  margin-left: 25px;
}
section
{
  margin-top: 4%;
}

img , .barre
{
  display: block;
}

.barre
{
  width: 40%;
  margin-left: 30%;
  height: 40px;
}

img
{
  height: 250px;
  width: 400px;
  margin-left: 34%;
}

footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #DCDCDC;
  height: 5%;
}


.leftnav , .rightnav
{
  display: inline-block;
  margin-top: 8px;
}

footer li
{
display: inline-block;
margin-right: 10px;
font-size: 0.8em;
}

.rightnav
{
  padding-left: 46%;
}
